@model Blogs.UI.Main.ViewModel.IndexViewModel
@{
    Layout = "~/Views/Blog/themes/V4/Shared/_Layout.cshtml";
}


<section class="container">

    <!-- class="content-wrap" -->
    <div class="col-lg-9 col-md-9 " style="padding-left:5px;padding-right:10px;">
        <!-- class="content" -->
        <div class="">
            <div id="focusslide" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @{
                        for (int i = 0; i < Model.MainArticlePics.Count(); i++)
                        {
                            string active = (i == 0) ? "active" : "";

                            <li data-target="#focusslide" data-slide-to="@i" class="@active"></li>
                        }
                    }
                </ol>
                <div class="carousel-inner" role="listbox">

                    @{
                        for (int i = 0; i < Model.MainArticlePics.Count(); i++)
                        {
                            var item = Model.MainArticlePics.ElementAt(i);
                            string active = (i == 0) ? "active" : "";

                            <div class="item @active">

                                <a href="@item.Url">  <img style="width:100%; max-height:400px;" src="@item.articlePic"></a>
                                <div class="carousel-caption" style="height:50px;line-height:50px;padding:0px 0px 0px 5px; left:0px;right:0px;bottom:0;font-size:20px; font-weight:bold;text-align:left; width:100%;opacity:0.6; background-color:#000">
                                    @item.articleTitle
                                </div>
                            </div>
                        }
                    }

                </div>
                <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#focusslide" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>

            <div class="title">
                <h3>
                    最新发布
                </h3>
            </div>

            @foreach (var item in Model.IndexArticles)
            {
                string c = "";
                if (String.IsNullOrEmpty(item.articlePic))
                {
                    c = "style=\"padding-left:20px\"";
                }

                <article class="excerpt" @Html.Raw(c)>

                    @if (!String.IsNullOrEmpty(item.articlePic))
                    {
                        <a class="focus" href="@item.Url">
                            <img style="max-width:220px" src="http://static.kecq.com/images/common/big-loading.gif" data-original="@item.articlePic" class="thumb articlePic">
                        </a>
                    }

                    <header>
                        <a class="cat" href="@item.categoryUrl" target="_blank">@item.categoryDisplay<i></i></a>
                        <h2><a href="@item.Url">@item.articleTitle</a></h2>
                    </header>
                    <p class="meta">
                        <time><i class="fa fa-clock-o"></i>@item.articleDatetime.ToString("yyyy.MM.dd")</time>
                        <span class="author"><i class="fa fa-user"></i>@item.articleAuthor</span>
                        <span class="pv"><i class="fa fa-eye"></i>阅读(@item.articleClickTimes)</span>
                        <a class="pc" href="/comment-@item.articleID-1.html" target="_blank"><i class="fa fa-comments-o"></i>评论(@item.articleCommentTimes)</a>
                    </p>
                    <p class="note">
                        @if (!String.IsNullOrEmpty(item.articleSubContentHtml))
                        {
                            @Html.Raw(item.articleSubContentHtml)
                        }
                        else
                        {
                            @Html.Raw(item.articleSubContentText)
                        }
                        [...]&nbsp; &nbsp;<a href="@item.Url" target="_blank">阅读全文</a>
                    </p>
                </article>
            }

        </div>

        <div class="pagination">
            <ul>

                @foreach (var p in Model.PagerCollection)
                {
                    string classString = "";
                    if (p.IsCurrent)
                    {
                        classString = "active";
                    }
                    if (p.IsDisabled)
                    {
                        classString = "disabled";
                    }

                    <li class="@classString" style="display:inline;"><a href="@p.Url">@p.Text</a></li>
                }
            </ul>
        </div>
    </div>

    <!-- class="sidebar" -->
    <aside class="col-lg-3 col-md-3" style="padding-left:10px;padding-right:5px;">

        <div class="widget widget-tops">
            <ul class="widget-nav">
                <li class="active">关于我</li>
            </ul>
            <div class="panel-body">
                @Model.Blog.AboutMe
            </div>

        </div>

        <div class="widget widget_categories">
            <h3>分类目录</h3>
            <ul>
                @foreach (var item in Model.categorys)
                {
                    <li class="cat-item">
                        <a href="@item.Url">@item.categoryDisplay (@item.ArticleCount)</a>
                    </li>
                }
            </ul>
        </div>

        <div class="widget widget_recent_entries">
            <h3>近期文章</h3>
            <ul>
                @foreach (var item in Model.NewArticles)
                {
                    <li><a target="_blank" href="@item.Url">@item.articleTitle</a></li>
                }
            </ul>
        </div>

        <div class="widget widget_archive">
            <h3>文章归档</h3>
            <ul>
                @foreach (var item in Model.Months)
                {
                    <li><a href="@item.Url">@item.Title</a></li>
                }
            </ul>
        </div>

        <div class="widget widget_ui_tags">
            <h3></h3>
            <div class="items">
                @foreach (var item in Model.Tags)
                {
                    <a href="@item.Url" title="@item.ArticleCount 个话题" style="@item.style">@item.tagDisplay</a>
                }
            </div>
        </div>


        <div class="widget widget_recent_entries">
            <h3>随机推荐</h3>
            <ul>
                @foreach (var item in Model.RandomArticles)
                {
                    <li class="media"><a target="_blank" href="@item.Url">@Html.Raw(item.ShowTitle)</a></li>
                }
            </ul>
        </div>
    </aside>

</section>



    <script src="http://static.kecq.com/js/jquery/jquery.lazyload.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".articlePic").lazyload({
                effect: "fadeIn"
            });
        });

    </script>

